<p-toast></p-toast>
<div class="flex flex-row overflow-x-auto">
  <div class="card h-screen flex flex-grow-1 flex-column align-items-center py-4">
    <p-toolbar styleClass="mb-4" *ngIf="auth.role == 'ROLE_PRODUCT_OWNER'">
      <ng-template pTemplate="left">
        <button pButton pRipple label="New Project" icon="pi pi-plus" class="p-button-success mr-2"
          (click)="openNew()"></button>
      </ng-template>
    </p-toolbar>
    <p-header><h1>Projects List</h1></p-header>
    <p-table *ngIf="projects.length != 0" class="w-full" #dt [value]="projects" [rows]="10" [paginator]="true"
      [globalFilterFields]="['name','country.name','representative.name','status']" [rowHover]="true" dataKey="id"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
      <ng-template pTemplate="header">
        <tr>
            <th id="name" pSortableColumn="name">Title <p-sortIcon field="name"></p-sortIcon></th>
            <th id="createdDate" pSortableColumn="createdDate">Created Date <p-sortIcon field="createdDate"></p-sortIcon></th>
            <th id="status" pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
            <th id="" class="w-15rem"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-project>
            <tr>
                <td>{{project.name}}</td>
                <td>{{project.date}}</td>
                <td><span [class]="'product-badge'">{{project.status}}</span></td>
                <td>
                  <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-mr-2 mr-1" (click)="selectProject(project)" pTooltip="Select" tooltipPosition="top"></button>
                  <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2 mr-1" (click)="editProduct(project)" pTooltip="Edit" tooltipPosition="top" *ngIf="auth.role == 'ROLE_PRODUCT_OWNER'"></button>
                  <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-mr-2" (click)="deleteProject($event, project)" pTooltip="Delete" tooltipPosition="top" *ngIf="auth.role == 'ROLE_PRODUCT_OWNER'"></button>
                  <p-confirmPopup></p-confirmPopup>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="p-d-flex p-ai-center p-jc-between">
              <!-- In total there are {{projects ? projects.length : 0 }} products. -->
          </div>
      </ng-template>
    </p-table>
  </div>
</div>

<form [formGroup]="projectForm" (ngSubmit)="saveProduct()">
  <p-dialog [(visible)]="projectDialog" [style]="{width: '450px'}" [header]="titleForm" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
      <div class="p-field">
          <label for="title">Title</label>
          <input type="text" pInputText id="name" formControlName="name" required autofocus />
          <br><br>
          <p-multiSelect [options]="users" defaultLabel="Select users" optionLabel="username" display="chip" appendTo="body" formControlName="users"></p-multiSelect>
      </div>
      <br/>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple type="submit" label="Save" icon="pi pi-check" class="p-button-text" [disabled]="projectForm.invalid"></button>
    </ng-template>
  </p-dialog>
</form>
