<div class="flex flex-row w-screen">
  <div class="card h-screen flex flex-grow-1 flex-column align-items-center py-4">
    <p-toolbar styleClass="mb-4">
      <ng-template pTemplate="left">
        <button pButton pRipple label="New Project" icon="pi pi-plus" class="p-button-success mr-2"
          (click)="openNew()"></button>
      </ng-template>
    </p-toolbar>
    <p-table class="w-full" #dt [value]="projects" [rows]="10" [paginator]="true"
      [globalFilterFields]="['name','country.name','representative.name','status']" [rowHover]="true" dataKey="id"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
      <ng-template pTemplate="header">
        <tr>
            <th id="head" style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th id="id" pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
            <th id="projectNo" pSortableColumn="projectNo">Project No. <p-sortIcon field="projectNo"></p-sortIcon></th>
            <th id="title" pSortableColumn="title">Title <p-sortIcon field="title"></p-sortIcon></th>
            <th id="createdDate" pSortableColumn="createdDate">Created Date <p-sortIcon field="createdDate"></p-sortIcon></th>
            <th id="status" pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
            <th id=""></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-project>
            <tr>
                <td>
                    <p-tableCheckbox [value]="project"></p-tableCheckbox>
                </td>
                <td>{{project.id}}</td>
                <td>{{project.projectNo}}</td>
                <td>{{project.title}}</td>
                <td>{{project.createdDate}}</td>
                <td><span [class]="'product-badge'">{{project.status}}</span></td>
                <td>
                    <!-- <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editProduct(project)"></button> -->
                    <!-- <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(product)"></button> -->
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="p-d-flex p-ai-center p-jc-between">
              <!-- In total there are {{projects ? projects.length : 0 }} products. -->
          </div>
      </ng-template>
    </p-table>
  </div>
</div>


<p-dialog [(visible)]="projectDialog" [style]="{width: '450px'}" header="Product Details" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
      <div class="p-field">
          <label for="title">Title</label>
          <input type="text" pInputText id="name" [(ngModel)]="project.title" required autofocus />
          <small class="p-invalid" *ngIf="submitted && !project.title">Title is required.</small>
      </div>
      <div class="p-field">
        <!-- <p-multiSelect [options]="status" [(ngModel)]="selectedStatus" optionLabel="status"></p-multiSelect> -->
        <p-multiSelect appendTo="body" [options]="cities" [(ngModel)]="selectedCities1" defaultLabel="Select a City" optionLabel="name">
        </p-multiSelect>
      </div>
      <!-- <div class="p-field">
          <label for="description">Description</label>
          <textarea id="description" pInputTextarea [(ngModel)]="project.description" required rows="3" cols="20"></textarea>
      </div> -->

      <!-- <div class="p-field">
          <label class="p-mb-3">Category</label>
          <div class="p-formgrid p-grid">
              <div class="p-field-radiobutton p-col-6">
                  <p-radioButton id="category1" name="category" value="Accessories" [(ngModel)]="product.category"></p-radioButton>
                  <label for="category1">Accessories</label>
              </div>
              <div class="p-field-radiobutton p-col-6">
                  <p-radioButton id="category2" name="category" value="Clothing" [(ngModel)]="product.category"></p-radioButton>
                  <label for="category2">Clothing</label>
              </div>
              <div class="p-field-radiobutton p-col-6">
                  <p-radioButton id="category3" name="category" value="Electronics" [(ngModel)]="product.category"></p-radioButton>
                  <label for="category3">Electronics</label>
              </div>
              <div class="p-field-radiobutton p-col-6">
                  <p-radioButton id="category4" name="category" value="Fitness" [(ngModel)]="product.category"></p-radioButton>
                  <label for="category4">Fitness</label>
              </div>
          </div>
      </div> -->

      <!-- <div class="p-formgrid p-grid">
          <div class="p-field p-col">
              <label for="price">Price</label>
              <p-inputNumber id="price" [(ngModel)]="product.price" mode="currency" currency="USD" locale="en-US"></p-inputNumber>
          </div>
          <div class="p-field p-col">
              <label for="quantity">Quantity</label>
              <p-inputNumber id="quantity" [(ngModel)]="product.quantity"></p-inputNumber>
          </div>
      </div> -->
  </ng-template>

  <ng-template pTemplate="footer">
      <!-- <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button> -->
      <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
  </ng-template>
</p-dialog>

<!-- <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog> -->
