<p-toast></p-toast>
<div class="flex flex-row overflow-x-auto">
  <div class="card h-screen flex flex-grow-1 flex-column align-items-center py-4">
    <p-toolbar styleClass="mb-4">
      <ng-template pTemplate="left">
        <button pButton pRipple label="New Project" icon="pi pi-plus" class="p-button-success mr-2"
          (click)="openNew()"></button>
      </ng-template>
    </p-toolbar>
    <p-table class="w-full" #dt [value]="projects" [rows]="10" [paginator]="true"
      [globalFilterFields]="['name','country.name','representative.name','status']" [rowHover]="true" dataKey="id"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
      <ng-template pTemplate="header">
        <tr>
            <th id="title" pSortableColumn="title">Title <p-sortIcon field="title"></p-sortIcon></th>
            <th id="createdDate" pSortableColumn="createdDate">Created Date <p-sortIcon field="createdDate"></p-sortIcon></th>
            <th id="status" pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
            <th id=""></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-project>
            <tr>
                <td>{{project.name}}</td>
                <td>{{project.createdDate}}</td>
                <td><span [class]="'product-badge'">{{project.status}}</span></td>
                <td>
                  <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2 mr-1" (click)="editProduct(project)"></button>
                  <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-success p-mr-2" (click)="selectProject(project)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="p-d-flex p-ai-center p-jc-between">
              <!-- In total there are {{projects ? projects.length : 0 }} products. -->
          </div>
      </ng-template>
    </p-table>
  </div>
</div>

<form [formGroup]="projectForm" (ngSubmit)="saveProduct()">
  <p-dialog [(visible)]="projectDialog" [style]="{width: '450px'}" header="Create a new project" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
      <div class="p-field">
          <label for="title">Title</label>
          <input type="text" pInputText id="name" formControlName="name" required autofocus />
      </div>
      <br/>
    </ng-template>

    <ng-template pTemplate="footer">
        <!-- <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button> -->
        <button pButton pRipple type="submit" label="Save" icon="pi pi-check" class="p-button-text" [disabled]="projectForm.invalid"></button>
    </ng-template>
  </p-dialog>
</form>
<!-- <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog> -->
