<div class="fixed flex flex-column h-screen p-4">


    <div class="border-solid border-900 card flex flex-row surface-0 border-round justify-content-center align-items-center py-2">
      <p-avatar styleClass=" h-auto" size="medium" image="https://docplayer.fr/docs-images/87/96070545/images/52-0.jpg"></p-avatar>
      <p-header styleClass="h-auto">Mister Potatoes</p-header>
    </div>
  <br>
  <p-menu class="flex flex-column justify-content-end" [model]="items"></p-menu>
  <div class="h-screen flex flex-column justify-content-end align-items-center">
  <p-footer class="surface-700 ">Project name selected</p-footer>
</div>
</div>
