<p-toast></p-toast>
<div class="flex flex-row overflow-x-auto">
  <div class="card h-screen flex flex-grow-1 flex-column align-items-center py-4">
    <p-toolbar styleClass="mb-4">
      <ng-template pTemplate="left">
        <button pButton pRipple label="New Sprint" icon="pi pi-plus" class="p-button-success mr-2"
          (click)="openNewSprint()"></button>
        <button pButton pRipple label="New Task" icon="pi pi-plus" class="p-button-success mr-2"
          (click)="openNewTask()"></button>
      </ng-template>
    </p-toolbar>
    <p-header><h1>Sprints List</h1></p-header>
    <p-table class="w-full" #dt [value]="sprints" [rows]="10" [paginator]="true"
      [globalFilterFields]="['name','country.name','representative.name','status']" [rowHover]="true" dataKey="id"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
      <ng-template pTemplate="header">
        <tr>
            <th id="name" pSortableColumn="name">Title <p-sortIcon field="name"></p-sortIcon></th>
            <th id="startDate" pSortableColumn="startDate">Date From <p-sortIcon field="startDate"></p-sortIcon></th>
            <th id="endDate" pSortableColumn="endDate">Date To <p-sortIcon field="endDate"></p-sortIcon></th>
            <th id="status" pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
            <th id="actions">Actions </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-sprint>
            <tr>
                <td>{{sprint.name}}</td>
                <td>{{sprint.startDate}}</td>
                <td>{{sprint.endDate}}</td>
                <td><span [class]="'product-badge'">{{sprint.status}}</span></td>
                <td>
                  <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editSprint(sprint)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="p-d-flex p-ai-center p-jc-between">
              <!-- In total there are {{projects ? projects.length : 0 }} products. -->
          </div>
      </ng-template>
    </p-table>

    <!-- TASKS LIST -->
    <p-header><h1>Tasks List</h1></p-header>
    <p-table class="w-full" #dt [value]="tasks" [rows]="10" [paginator]="true"
      [globalFilterFields]="['name']" [rowHover]="true" dataKey="id"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
      <ng-template pTemplate="header">
        <tr>
            <th id="name" pSortableColumn="name">Title <p-sortIcon field="name"></p-sortIcon></th>
            <th id="priority" pSortableColumn="priority">Priority <p-sortIcon field="priority"></p-sortIcon></th>
            <th id="actions">Actions </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-task>
            <tr>
                <td>{{task.name}}</td>
                <td>{{task.priority.name}}</td>
                <td>
                  <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editTask(task)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="p-d-flex p-ai-center p-jc-between">
              <!-- In total there are {{projects ? projects.length : 0 }} products. -->
          </div>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog [(visible)]="sprintDialog" [style]="{width: '450px'}" header="Create a new sprint" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
      <div class="p-field">
          <label for="title">Sprint Name</label>
          <input type="text" pInputText id="name" [(ngModel)]="sprint.name" required autofocus />
          <small class="p-invalid" *ngIf="submittedSprint && !sprint.name">Title is required.</small>
      </div>
  </ng-template>

  <ng-template pTemplate="footer">
      <!-- <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button> -->
      <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveSprint()"></button>
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="taskDialog" [style]="{width: '450px'}" header="Create a new task" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
      <div class="p-field">
          <label for="name">Task Name</label>
          <input type="text" pInputText id="name" [(ngModel)]="task.name" required autofocus />
          <small class="p-invalid" *ngIf="submittedTask && !task.name">Title is required.</small>
      </div>
      <br/>
  </ng-template>

  <ng-template pTemplate="footer">
      <!-- <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button> -->
      <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveTask()"></button>
  </ng-template>
</p-dialog>

