<!-- <div class="card">
  <div class="flex card-container indigo-container">
      <div class="h-4rem text-white font-bold text-center border-round mt-8 mx-2"><app-menu></app-menu></div>
      <div class="flex-1 h-4rem bg-indigo-500 text-white font-bold text-center p-4 border-round mx-2"><router-outlet></router-outlet></div>
  </div>
</div> -->

<!-- <div class="grid">
  <div class="col-fixed p-0"><app-menu class="h-screen"></app-menu></div>
  <div class="col w-auto h-auto p-0"><router-outlet></router-outlet></div>
</div> -->
<div class="flex flex-row">
  <app-menu class="justify-content-start"></app-menu>
  <router-outlet class="justify-content-start"></router-outlet>
</div>

