
<p-toast></p-toast>
<div *ngIf="!auth.isLoggedIn" class="flex flex-row w-screen">
  <form [formGroup]="connectionForm" (ngSubmit)="login()" class="h-screen flex flex-grow-1 justify-content-center align-items-center">
    <p-card header="SCRUM TOOL APP" subheader="Connection Form" [style]="{width: '360px'}" styleClass="p-card-shadow">
      <span class="p-float-label">
        <input class="w-full" id="username" type="text" pInputText formControlName="username">
        <label for="float-input">Username</label>
      </span>
      <br>
      <span class="p-float-label">
        <input class="w-full" id="password" type="password" pInputText formControlName="password">
        <label for="float-input">Password</label>
      </span>
      <ng-template pTemplate="footer">
        <p-button styleClass="w-full" label="Connect" icon="pi pi-check" type="submit" *ngIf="!auth.isLoggedIn"></p-button>
      </ng-template>
    </p-card>
  </form>
</div>
